.fav{
    width: 100%;
    height: 200vh;
    position: absolute;
    background: #1e2a3e;
    left: 0;
    top: 0;
    display: flex;
    align-items:center ;
    justify-content: center;
}
.fav-list{
    width: 70%;
    height: 100vh;
}
.fav-img{
    width: 400px;
    height: 400px;
}
.fav-name{
    font-size: 50px;
}
.fav-author{
    font-size: 30px;
}